body{
  margin: 0;
  background-color: #16a085;
  font-family: sans-serif;
  height: 100%;
}

.panel-heading{
  color: #ecf0f1;
}

#header{
  text-align: center;
  color: #ecf0f1;
  border-bottom: 0;
  background-color: #1abc9c;
  margin: 0;
  padding: 20px;
}

#header h1{
  margin: 0;
  padding: 20px;
}

#input{
  font-size: 2em;
  height: 70px;
}
#inputButton{
  height: 70px;
}

#chatInput{
  position: absolute;
  bottom: 0;
}

#chat{
  color: #ecf0f1;
  font-size: 1.2em;
  height: calc(100% - 260px);
  overflow: scroll;
  margin: 0 40px;
}

li{
  list-style: none;
  margin-bottom: 8px;
}
